<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>HaoWei - Natural Language Processing </title>
    <meta name="description" content="NLP Engineer and data Scientist. Participated in google code jam and got top 5000. won 2nd of Kaggle NLP content. Machine Learning, Natural language understanding, Natural language processing. Python. Machine learning, deep learning, Knowledge graph. ontology ">
    <meta name="author" content="HaoWei.">
    <meta name="keywords" content="NLP,NLU, Data Scientist, Taiwan, Canada, Singapore, Python, R, Machine learning,Data anlysis, Deep learning, Knowledge graph, visualization, software Engineer, engineering, keras,  tensorflow,LR, tree based, bert, gpt">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href={{ url_for('static', filename="css/base.css") }}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/vendor.css") }}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/main.css") }}>

    <!-- script
    ================================================== -->
    <script src= {{ url_for('static', filename="js/modernizr.js") }}></script>
    <script src= {{ url_for('static', filename="js/pace.min.js") }}></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href={{ url_for('static', filename='media/pic/favicon.ico') }} type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html"><img src={{ url_for('static', filename='media/pic/logo.png') }} alt="HaoWei"></a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                <li><a class="smoothscroll"  href="#works" title="works">Demo</a></li>
                <li><a class="smoothscroll"  href="#resource" title="resource">Resource</a></li>
                <li><a class="smoothscroll"  href="#blog" title="blog">Blog</a></li>
                <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->


   <!-- home
   ================================================== -->
   <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src={{ url_for('static', filename='media/pic/light.jpg') }} data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Hello There</h3>

                <h1>
                    I am HaoWei, an NLP Engineer/ Data Scientist. <br> Now pursuing a postgraduate diploma in Canada.
                </h1>

                <div class="home-content__buttons">
                    <a href="#works" class="smoothscroll btn btn--stroke">
                        Demo 
                    </a>
                    <a href="#blog" class="smoothscroll btn btn--stroke">
                        Blog
                    </a>
                </div>

                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll">
                        <span>Scroll Down</span>
                    </a>
                </div>

            </div>

        </div> <!-- end home-content -->

        <ul class="home-social">
            <li>
                <a href="https://tw.linkedin.com/in/haoweiho"><i class="im im-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a>
            </li>
            <li>
                <a href="http://github.com/HaoWeiHe/"><i class="im im-github" aria-hidden="true"></i><span>Github</span></a>
            </li>
            <li>
                <a href="https://www.instagram.com/heywei15/"><i class="im im-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
            
            
        </ul> 
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">
        
        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full text-center">
                <h3>About</h3>
                <h1>More About Me</h1>
                <p class="lead">An NLP Engineer/ Data Scientist live in Canada, who is  enthusiastic in programming and doing some natural language processing stuff. In the leisure time, I enjoy food-hunting, cycling and reading.  </p>
            </div>
        </div>

        <div class="row about-content">

            <div class="col-six tab-full left">
                <h3> Good to Have You Here! </h3>

                <p>Hello. My name is Hao-Wei, who works as an NLP scientist in multilingual Natural Language Processing/Natural Language Understanding domain with 5 years experience. </p>

                <p>
                During my work time, I realize how powerful AI is and would like to dedicate my career/time to <b>AI for good </b> and show the  positive impact on the world. 
                </p>
                <p>
                I have actively joined <b>AI for good </b> community and would like to connect with anyone interested in involved in projects to do with Domestic Violence / Medtech for dementia or Alzheimer's disease.
                </p>
                <p>
                At this moment, I’ve been involved in violation detection for 3 years in my working place and developing some violation detection stuff on <a href="https://github.com/HaoWeiHe/Multi-label-classification">Github </a>.
                </p>
            </div>
        
            <div class="col-six tab-full right">
                <h3>I've Got Some skills.</h3>

                <ul class="skill-bars">
                    <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>NLP/ NLU</strong>
                    </li>
                    <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>Python</strong>
                    </li>
                    <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>Machine learning</strong>
                    </li>
                    <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>Data Visulization</strong>
                    </li>

                    <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>Knowledge Graph / Ontology</strong>
                    </li>

                    <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>Data anlysis</strong>
                    </li>   
                    <li>
                    <div class="progress percent65"><span>65%</span></div>
                    <strong>Data Eningeer</strong>
                    </li>   
                </ul>
            </div>

        </div> <!-- end about-content -->

     

    </section> <!-- end about -->
    

    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Portfolio</h3>
                <h1>Projects & Demo</h1>
                
                <p class="lead"></p>
            </div>
        </div>

        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="masonry__brick">
                    <div class="item-folio1">

                        <div class="item-folio__thumb">
                            <a href=  {{ url_for('KGDemo') }}    title="Knowledge Graph" data-size="1050x700">

                                <img src={{ url_for('KGDemo') }} 
                                    srcset="{{ url_for('static', filename='media/pic/KG.png')}} 1x, {{ url_for('static', filename='media/pic/KG.png')}} 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">

                            <h3 class="item-folio__title">
                                triplet of Knowledge Graph 
                            </h3>
                            <p class="item-folio__cat">
                               Information Extraction &amp Visualization 
                            </p>
                        </div>
                         <a href= {{url_for('KGDemo')}} title="Project link">
                            <i class="im im-link"></i>
                        </a>
                        

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->
   
                <div class="masonry__brick">
                    <div class="item-folio1">

                        <div class="item-folio__thumb">
                            <a href= "{{url_for('multiLabelDemo')}}"    title="Multi-label Classification" data-size="1050x700">

                                <img src= "{{url_for('multiLabelDemo')}}"
                                    srcset="{{ url_for('static', filename='media/pic/toxic-waste-sign.jpeg')}} 1x, {{ url_for('static', filename='media/pic/toxic-waste-sign.jpeg')}} 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">

                            <h3 class="item-folio__title">
                                 Multi-label Classification
                            </h3>
                            <p class="item-folio__cat">
                               Identify toxic commentary 
                            </p>
                        </div>
                         <a href= "#" title="Project link">
                            <i class="im im-link"></i>
                        </a>
                        
                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio1">

                        <div class="item-folio__thumb">
                            <a href= "{{url_for('sentimentDemo')}}"    title="Multi-label Classification" data-size="1050x700">

                                <img src= "#"
                                    srcset="{{ url_for('static', filename='media/pic/sentiment-fig-1-689.jpeg')}} 1x, {{ url_for('static', filename='media/pic/sentiment-fig-1-689.jpeg')}} 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">

                            <h3 class="item-folio__title">
                                Sentiment-Classification
                            </h3>
                            <p class="item-folio__cat">
                               Sentiment Classification
                            </p>
                        </div>
                         <a href= "#" title="Project link">
                            <i class="im im-link"></i>
                        </a>
                        
                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->


               </div>
        </div> <!-- end masonry -->     


    </section> <!-- end works -->

    <!-- testimonials
    ================================================== -->
    <div id="resource" class="s-testimonials">
    <!-- <div class="s-testimonials"> -->

        <div class="overlay"></div>

        <div class="row testimonials-header">
            <div class="col-full">
                <h1 class="h02">Download & Resource</h1>
            </div>
        </div>

        <div class="row testimonials">

            <div class="col-full testimonials__slider">

                <div class="testimonials__slide">
                    <a href="https://babelnet.org" class="thumb-link" title="babelnet"  data-size="1050x700">

                    <img src= {{ url_for('static', filename='media/pic/babelnet.png') }}  
                         srcset="/static/media/pic/babelnet.png 1x ,{{ url_for('static', filename='media/pic/babelnet.png') }} 2x alt="">
                        <span class="shadow-overlay"></span>

                   
                    </a>
                    <p> Multilingual encyclopedic dictionary, with wide lexicographic and encyclopedic coverage of terms, and a semantic network/ontology which connects concepts and named entities in a large network of semantic relations.
                    </p>
                    <div class="testimonials__author h06">
                        Balbelnet
                        <span> Semantic Network/Ontology </span>
                    </div>
                </div>
                <div class="testimonials__slide">
                     <a href="https://spacy.io/" class="thumb-link" title="spacy.io" data-size="1050x700">
                    
                       <img src= {{ url_for('static', filename='media/pic/SpaCy_logo.jpeg') }}  
                         srcset="{{ url_for('static', filename='media/pic/SpaCy_logo.jpeg') }} 1x, {{ url_for('static', filename='media/pic/SpaCy_logo.jpeg') }} 2x" alt="">
                        <span class="shadow-overlay"></span>

                    </a>
                    <p>
                    spaCy is a library for advanced Natural Language Processing in Python and Cython. It's built on the very latest research, and was designed from day one to be used in real products.</p>
                    <div class="testimonials__author h06">
                        Spacy
                        <span>NLP tool</span>
                    </div>
                </div> 

                <div class="testimonials__slide">
                    <a href="https://ckip.iis.sinica.edu.tw/project/ehownet" class="thumb-link" title="ehownet" data-size="1050x700">
                    
                      <img src= {{ url_for('static', filename='media/pic/ckip_logo.png') }}  
                         srcset="{{ url_for('static', filename='media/pic/ckip_logo.png') }} 1x, {{ url_for('static', filename='media/pic/ckip_logo.png') }} 2x" alt="">
                        <span class="shadow-overlay"></span>

                    </a>

                    <p> ontological system for lexical knowledge and common sense knowledge representation and a frame-based entity-relation model withlexical concepts and common sense knowledge. </p>
                    <div class="testimonials__author h06">
                        E-Hownet
                        <span> Knowledge Representation Network </span>
                    </div>
                </div>


                <div class="testimonials__slide">
                     <a href="https://spacy.io/" class="thumb-link" title="frameNEt"  data-size="1050x700">
                     <img src= {{ url_for('static', filename='media/pic/frameNet.jpeg') }}  
                         srcset="{{ url_for('static', filename='media/pic/frameNet.jpeg') }} 1x, {{ url_for('static', filename='media/pic/frameNet.jpeg') }} 2x" alt="">
                        <span class="shadow-overlay"></span>

                    </a>
                    <p>
                    In computational linguistics, FrameNet produces an electronic resource based on a theory of meaning called frame semantics. </p>
                    <div class="testimonials__author h06">
                        FrameNet
                        <span>NLP tool</span>
                    </div>
                </div>

               
            </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

    </div> <!-- end s-testimonials -->


    
    <!-- blog
    ================================================== -->
    <section id="blog" class="s-blog target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Journal</h3>
                <h1>Latest From The Blog.</h1>
                <p class="lead"> Some techniques for the concept or implementation of NLP / Machine Learning Engineering</p>
            </div>
        </div>

        <div class="row blog-content">
            <div class="col-full">

                <div class="blog-list block-1-2 block-tab-full">
                    
                    <article class="col-block">
                                
                        <div class="blog-date">

                            <a href={{ url_for("multiLabelPage") }} > Jun 1, 2021</a>
                        </div>  
                        
                        <h2 class="h01"><a href= {{ url_for('multiLabelPage') }} > Multi-label-classification </a></h2>

                        <p>
                       Multi-label-classification is a project for toxic comment classification. (Take kaggle toxic-comment-classification-challenge as input dataset). In this repository we will expore different models to solve multi-label problem using static word embedding and contextual word representation as input features in different models.
                        </p>

                        <div class="blog-cat">
                                <a href="blog.html">Classification</a>
                                 <a href="blog.html">Multi-label</a>
                                <a href="blog.html">Bert</a> <a href="blog.html">NLP</a> <a href="blog.html">transfer-learning</a>
                                
                                <a href="blog.html">imbalance-classification</a>
                                <a href="blog.html">Keras</a>
                        </div>

                        
                    </article>
                    <article class="col-block">
                                
                        <div class="blog-date">

                            <a href={{ url_for("KGPage") }} > Jan 12, 2021</a>
                        </div>  
                        
                        <h2 class="h01"><a href= {{ url_for('KGPage') }} > Kick off an Knowledge Graph project </a></h2>

                        <p>
                        A knowledge graph is a knowledge base that uses a graph-structured data model or topology to integrate data. Knowledge graphs are often used to store interlinked descriptions of entities – objects, events, situations or abstract concepts – with free-form semantics(from wiki). Here we demo a basic implementation of a knowledge graph using triples. (There are many various ways to implement KG, and this project demo the basic way which based on syntactic information)
                        </p>

                        <div class="blog-cat">
                                <a href="blog.html">Knowledge Graph</a><a href="blog.html">Spacy</a> <a href="blog.html">NLP</a> <a href="blog.html">NLU</a>
                        </div>

                        
                     </article>
                     <article class="col-block">
                                
                        <div class="blog-date">

                            <a href={{ url_for("sentimentalPage") }} > Dec. 12, 2020</a>
                        </div>  
                        
                        <h2 class="h01"><a href= {{ url_for('sentimentalPage') }} > Sentiment Classification </a></h2>

                        <p>
                       Sentiment Classification is the process of identifying opinions in text and labeling them as positive, negative, or neutral. In this article we will demonstrate how to observe the data and build up sentiment classification models with various approaches.

                        </p>

                        <div class="blog-cat">
                                <a href="blog.html">Classification</a>
                                 <a href="blog.html">Word representation</a>
                                <a href="blog.html">TF-IDF</a> <a href="blog.html">NLP</a> 
                                <a href="blog.html">Logistic Regression</a>
                                
                                <a href="blog.html">PCA</a>
                                <a href="blog.html">LinearSVC</a>
                        </div>

                        
                    </article>
                </div> <!-- end blog-list -->

            </div> <!-- end col-full -->
        </div> <!-- end blog-content -->

    </section> <!-- end s-blog -->


   

    <!-- s-stats
    ================================================== -->
    <section id="contact" class="s-contact target-section">

        <div class="overlay"></div>

        <div class="row narrow section-intro">
            <div class="col-full">
                <h3>Contact</h3>
                <h1>Say Hello!</h1>
                <p> <br> </p>
                <!-- <p class="lead"> All suggestions or feedback are welcome. Come say hi, if you would like to share some ideas, wanna to access any public resource or one-time data science projects.  </p> -->
            </div>
        </div>

        <div class="row contact__main">
            <div class="col-eight tab-full contact__form">
                <form name="contactForm" id="contactForm" method="post" action="">
                
                    <fieldset>
    
                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Submit</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>

                    </div>
    
                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div> 
            
                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>
                        
            </div>
            <div class="col-four tab-full contact__infos">
               
                <h4 class="h06">Email</h4>
                <p>haoweihohoho@gmail.com<br>
                
                </p>

                <h4 class="h06">Address</h4>
                <p>
                British Columbia <br>
                Canada<br>
                </p>
            </div>

        </div>

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full">

                <div class="footer-logo">
                    <a class="footer-site-logo" href="#0"><img src= {{ url_for('static', filename='media/pic/logo.png') }}  alt="HaoWei"></a>
                </div>

                <ul class="footer-social">
                    <li><a href="https://tw.linkedin.com/in/haoweiho">
                        <i class="im im-linkedin" aria-hidden="true"></i>
                        <span>LinkedIn</span>
                    </a></li>
                    <li><a href="http://github.com/HaoWeiHe">
                        <i class="im im-github" aria-hidden="true"></i>
                        <span>Github</span>
                    </a></li>
                    <li><a href="https://www.instagram.com/heywei15/">
                        <i class="im im-instagram" aria-hidden="true"></i>
                        <span>Instagram</span>
                    </a></li>
                    
                </ul>
                    
            </div>
        </div>

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright HaoWei 2021</span> 
                    <span>Design by <a href="https://www.styleshout.com/">styleshout</a></span> 
                </div>

                <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src=   {{ url_for('static', filename='js/jquery-3.2.1.min.js') }}></script>
    <script src=   {{ url_for('static', filename="js/plugins.js") }}></script>
    <script src=   {{ url_for('static', filename="js/main.js") }}></script>

</body>

</html>